@keyframes ストン {
    0% {
        transform: scale(1, 1) translate(0%, -100%);
    }
  
    100% {
        transform: scale(1, 1) translate(0%, 0%);
    }
  }

@keyframes クルッ {
0% {
    transform: rotateY(0deg);
}

20% {
    transform: rotateY(180deg);
}
100% {
    transform: rotateY(359deg);
}
}

@keyframes シュッ→ {
    0% {
        transform: scale(1, 1) translate(0%, 0%);
        opacity: 1;
    }
  
    100% {
        transform: scale(1, 1) translate(200%, 0%);
        opacity: 0;
    }
}


.ストンクルッ→シュッ{
    animation:
        ストン 0.25s ease-in 0s forwards,
        クルッ 1s ease 0.25s forwards,
        シュッ→ 1s ease 1.25s forwards;
}